body {
    background: #ded2cf;
}
.nav {
    margin: 0;
    padding: 0;
    background: #293249; 
    
}
a {
    color: #aca1a1;
}
.jumbotron {
    background: #293249; 
    color: #ded2cf;
    height: 600px;
}
.jumbotron-heading{
    padding-top:4rem;
    width: 600px;
    margin: auto;

}
.lead {
    width: 800px;
    margin: auto;
}
.about {
    color: #293249; 
    background: #ded2cf;
    height: 600px;
    margin: 0;
    padding: 0;
}
.lead {
    width: 540px;
}
.footer {
    text-align: center;
    background: #293249; 
    color: #aca1a1;
}